.hero-section{
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 0 180px;
    height:100vh;
}
.hero-container{

    width: 320px;
}
.hero-container > .title-box > h1{
    color: var(--dark-blue);
    font-size: 3.2rem;
    line-height: 2.8rem;
    margin-bottom: 15px;
}
span{
    color: orange;
    letter-spacing: 2px;
}
.hero-container > .description-box{
    font: 1.08rem;
    margin-bottom: 20px;
}
.hero-container > .search-box > input{
    height: 45px;
    margin: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.hero-container > .search-box > .search-btn{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}