




body{
   background-color:var(--pale-blue);
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.title{
   font-family: 'Poppins', sans-serif;
   font-size: 2.5rem;
   color: var(--dark-blue);
}
.container{
   background-color: white;
   width: 900px;
   margin:0 auto;
   padding: 75px 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sign-up-form{
   text-align: center;
   width: 400px;
}
form{
   align-items: center;
   text-align: center;
}
.form-title{
   font-family: 'Poppins', sans-serif;
   font-size: 2.5rem;
   color: var(--dark-blue);
}
input{
    width: 99.9%;
    display: block;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: text;
}
input:focus{
   outline: none;
   border-bottom: 2px solid var(--bright-blue);
   color: var(--desaturated-blue);;
}
input.radio{
   width: 20px;
   display: inline-block;
   cursor: pointer;
   
}
.last{
   display: inline-block;
   margin-right: 20px;
   cursor: pointer;
}
button{
   width: 99.9%;
   display: block;
   cursor: pointer;
}
button:hover{
   background-color: hsla(245, 75%, 52%,0.9);
}
.sign-up-image-link{
   display: block;
   width: 100%;
   margin-top: 40px;
   text-align: center;
   color: var(--dark-blue);
}

@media  screen and (max-width: 420px){
   body{
      background-image: none;
   }
   .sign-up-img{
      display: none;
   }
   .container{
      flex-direction: column;
      width: 80%;
      padding: 10px 0;
   }
   .sign-up-form{
      width: 80%;
   }
   .form-title{
      text-align: center;
      font-size: 1.5rem;
   }
   .title{
      text-align: center;
      padding: 0 30px;
      font-size: 1.8rem;
   }
}

@media  screen and (max-width: 786px){
   body{
      background-image: none;
   }
   .sign-up-img{
      display: none;
   }
   .container{
      flex-direction: column;
      width: 80%;
      padding: 10px 0;
   }
   .sign-up-form{
      width: 80%;
   }
   .form-title{
      text-align: center;
      font-size: 1.5rem;
   }
   .title{
      text-align: center;
      padding: 0 30px;
      font-size: 2rem;
   }
   button{
     margin: auto;
   }
}
   
   